@import 'colors';

.chart {
  width: 300px;
  background-color: $default;
  color: $inverse;
  padding: 0px 10px 5px 10px;
  position: absolute;
  left: 66%;
  top: 16%;
  border: 1px solid $inverse;

  .close-chart {
    padding: 2px;
    float: right;
    font-size: 16px;
  }

  .close-chart:hover {
    cursor: pointer;
  }

  .title-chart h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
  }
  .order-chart {
    padding-top: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 25px;
    border-bottom: 1px solid $inverse;

    .order-label {
      float: left;
    }

    .order-value {
      float: right;
    }

  }

  a.detail-chart {
    float: right;
    font-size: 10px;
    text-decoration: none;
    color: $inverse;
    padding-top: 5px;
  }
  
  a.detail-chart:hover {
    text-decoration: underline;
  }

}



@media screen and (max-width: 600px) {
  .chart {
    display: none;
  }

  .chart-full {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $default;
    
    .close-chart {
      font-size: 32px;
      float: right;
      padding: 10px;
    }
    .header-chart {
      padding: 10px;
      .title-chart {
        font-size: 24px;
        font-family: Arial, Helvetica, sans-serif;;
      }
    }

    .content-chart {
      .card-item {
        margin: 10px;
        padding: 5px;
        height: 110px;

        .card-item-left {
          float: left;
          .img-item {
            margin: 0;
            width: 120px;
            height: auto;
          }
        }

        .card-item-right {
          float: left;
          padding-left: 10px;
          .title-item {
            text-align: left;
            font-size: 16px;
            font-weight: bold;
          }
        }
      }
    }
  }
}
