@import 'colors';

.column-detail-shop {
  margin-top: 30px;
  float: left;
  width: 33.33%;

  .detail-select {
    padding-left: 10px;
    padding-right: 0px;
    
    .detail-love {
      float: right;
      .img-love {
        width: 30px;
        height: auto;
      }

      .img-love:hover {
        cursor: pointer;
      }
    }

    .detail-over {
      margin-top: 15px;
      a.detail-category {
        font-size: 12px;
        text-decoration: none;
        color: $inverse;
        padding-top: 5px;
      }
      
      a.detail-category:hover {
        text-decoration: underline;
      }

      .detail-description h2 {
        font-size: 16px;
        font-weight: bold;
      }

      .detail-price p {
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
      }
    }
  }

  .detail-form {
    padding: 10px;
    margin-top: 11px;
    width: 100%;
    height: auto;
    border: 1px solid $inverse;
  }

  .detail-add-chart {
    padding: 13px 10px 10px 10px;
    margin-top: 5px;
    min-width: 100%;
    min-height: auto;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: $default;
    background-color: $inverse;
    border: 1px solid $inverse;
  }

  .detail-add-chart:hover {
    background-color: $default;
    color: $inverse;
    cursor: pointer;
  }
}

@media screen and (max-width: 600px) {
  .column-detail-shop {
    width: 100%;
  }

  .detail-select {
    width: 100%;
  }
}