@import 'colors';

.modal-login {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);

  .modal-content {
    position: relative;
    background-color: $default;
    margin: auto;
    padding: 10px;
    border-radius: 2px 2px 2px 2px;
    width: 26%;
    height: auto;
    animation-name: animatetop;
    animation-duration: 0.4s;

    .modal-header {
      margin: 10px;
      min-height: 30px;

      .title p {
        font-size: 16px;
        float: left;
        font-weight: bold;
      }

      .close {
        color: $inverse;
        float: right;
        font-size: 36px;
        font-weight: bold;
      }
    
      .close:hover {
        cursor: pointer;
      }
      
    }

    .modal-body {
      padding: 10px;
      margin: auto;
      
      .main-form-login {
        margin-bottom: 12px;

        .form-label {
          font-size: 14px;
          margin: 0;
          font-weight: bold;
        }

        .form-fill {
          width: 100%;
          font-size: 14px;
          border: 1px solid #bdc3c7;
          height: 30px;
        }

        .form-placeholder {
          font-size: 12px;
          color: #7f8c8d;
          padding-top: 2px;
        }
      }

      .button-login {
        width: 100%;
        background-color: $inverse;
        color: $default;
        padding: 10px;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        border: 1px solid $inverse;
        margin-top: 10px;
        margin-bottom: 10px;
      }

      .button-login:hover {
        cursor: pointer;
        background-color: $default;
        color: $inverse;
        border: 1px solid $inverse;
      } 

      .button-join {
        width: 100%;
        background-color: $default;
        color: $inverse;
        padding: 10px;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        border: 1px solid $inverse;
        margin-top: 10px;
        margin-bottom: 10px;
      }

      .button-join:hover {
        cursor: pointer;
        background-color: $inverse;
        color: $default;
      } 
    }
  }

  @keyframes animatetop {
    from {top: -300px; opacity: 0;}
    to {top: 0; opacity: 1;}
  }
}

@media screen and (max-width: 600px) {
  .modal-login {
    padding-top: 0px;

    .modal-content {
      width: 96%;
      height: 100%;
      margin: 0px;
    }
  }
}