@import 'colors';

.modal-login {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);

  .close {
    color: $inverse;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover {
    cursor: pointer;
  }
  
  .modal-content {
    position: relative;
    background-color: $default;
    margin: auto;
    padding: 10px;
    border-radius: 2px 2px 2px 2px;
    width: 50%;
    height: 300px;
  }
}