@import 'colors';

.navbar {
  margin: 0px;
}

.top-navbar {
  background-color: $default;
  overflow: hidden;

  a.navbar-brand {
    font-weight: bold;
  }

  a.navbar-brand:hover {
    background-color: $default;
    color: $inverse;
  }

  a {
    float: left;
    display: block;
    color: $inverse;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  a:hover {
    background-color: $primary;
    color: $default;
  }

  a.active {
    background-color: $primary;
    color: $default;
  }

  .search-section {
    float: right;
    margin-top: 8px;
    margin-right: 16px;

    .search-navbar {
      padding: 6px;
      border: none;
      font-size: 17px;
    }

    .btn-search-navbar {
      padding: 6px;
      border: none;
      color: $default;
      font-size: 17px;
      background-color: $primary;
    }

    .btn-search-navbar:hover {
      opacity: $opacity;
      cursor: pointer;
    }
  }
}

.drop-down {
  float: left;
  overflow: hidden;
  margin: 0;

  a {
    font-size: 17px;
    border: none;
    outline: none;
    color: $inverse;
    padding: 14px 16px;
    background-color: $default;
  }

  a:hover {
    background-color: $primary;
    cursor: pointer;
  }
}

.drop-down-content {
  display: none;
  position: absolute;
  min-width: 160px;
  margin-top: 46px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0,0, 0.2);
  z-index: 1;

  a {
    float: none;
    color: $inverse;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: $default;
    text-align: left;
  }

  a:hover {
    background-color: $primary;
  }
}

.drop-down:hover .drop-down-content {
  display: block;
}

.responsive-menu {
  a {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .top-navbar {
    background-color: $default;
    overflow: hidden;
    a {
      display: none;
    }

    .responsive-menu {
      float: right;
      display: block;
      padding: 10px;
      color: $inverse;
    }

    .search-section {
      display: none;
    }
  }

  .responsive-navbar {
    position: relative;

    a.navbar-brand {
      display: none;
    }

    a {
      float: none;
      background-color: $default;
      display: block;
      text-align: left;
    }

    .drop-down {
      float: none;
      position: relative;
      a {
        display: block;
      }
    }

    .search-section {
      display: block;  
      float: none;
      margin: 0px;

      .search-navbar {
        width: 100%;
      }

      .btn-search-navbar {
        width: 100%;
      }
    }
  }

  .responsive-menu {
    background-color: $default;
    overflow: hidden;

    a.navbar-brand {
      float: left;
    }

    a {
      float: right;
      color: $inverse;
      padding: 14px;
      text-decoration: none;
      display: block;
    }

    .icon-menu {
      width: 20px;
      height: auto;
    }
  }
}


